# Frontend
streamlit

# Torch
torch==2.2.2


# Environment management
python-dotenv
# LangChain and integrations
langchain==0.1.16
langchain-community==0.0.36
langchain-openai==0.1.4
langchain-groq==0.1.2
   

# Embeddings
huggingface_hub
sentence-transformers==2.7.0

#google-generativeai==0.5.4

# Vector DB
chromadb==0.4.24
faiss-cpu
#for image text extraction

wikipedia
arxiv

Pillow
easyocr


# PDF + file ingestion
PyMuPDF
unstructured
pdfminer.six

# Web scraping
requests
beautifulsoup4

# Utilities
tqdm
numpy==1.26.4
pandas

# System compatibility
protobuf==4.25.1
